@using proyectoMVC.Models;
@model Taller;

@{
    ViewData["Title"] = "Crear Taller";
}

<form method="post" asp-controller="Taller" asp-action="Crear" class="row g-3">
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Nombre</label>
    <input asp-for="NombreTienda" type="text" class="form-control"  value="Makes"/>
    <span asp-validation-for="NombreTienda" class="text-danger"></span>
  </div>

  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Direccion</label>
    <input asp-for="Direccion" type="text" class="form-control"  value="cll 151 cr 6 a21"/>
    <span asp-validation-for="Direccion" class="text-danger"></span>
  </div>

  <div class="col-md-4">
    <label for="validationDefault01" class="form-label">Telefono</label>
    <input asp-for="Telefono" type="text" class="form-control"  value="351247821"/>
    <span asp-validation-for="Telefono" class="text-danger"></span>
  </div>


  <div class="col-md-2">
    <label for="validationDefault01" class="form-label">Empleado</label>
    <input asp-for="Empleado" type="text" class="form-control"  value="247"/>
    <span asp-validation-for="Empleado" class="text-danger"></span>
  </div>

  <div class="col-12">
    <input type ="submit" value="Crear" class="btn btn btn-outline-dark"/>
  </div>
</form>